{% extends 'AppBundle::front-layout.html.twig' %}

{% block body %}

    {{ parent() }}

    <div id="subscribe">
        <h1>le plaisir par abonnement</h1>
        <p>Les sextoys connectés</p>
        <img src="{{ asset('images/couincouin.png') }}">
        <button>Découvrir</button><button>S'abonner</button>
    </div>
    <div id="month-product">
        <h1>produit du mois</h1>
        <img src="{{ asset('images/month.png') }}">
        <div>
            <p>Lorem ipsum dolor
                sit amet, consectetur a
                dipisicing elit
                or in reprehenderit in voluptate v
                elit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occae
                cat cupidatat non proident, sunt in cu
                lpa qui officia deserunt mollit
                anim id est laborum. Sed ut pe
                rspiciatis unde omnis iste
                natus error sit volu
                ptatem accusantium dolorem</p>
            <button>Sélectionner</button>
        </div>


    </div>
    <div id="geschenk">
        <h1>une idee cadeau</h1>
        <button>Offrir</button>

    </div>
    <div id="footer">

    </div>

{% endblock %}