{% extends 'AppBundle::front-layout.html.twig' %}

{% block body %}

    {{ parent() }}

    <div id="subscribe">
        <h1>le plaisir par abonnement</h1>
        <p>Les sextoys connectés</p>
        <img src="{{ asset('images/couincouin.png') }}">
    </div>
    <div id="month-product">

    </div>
    <div id="geschenk">

    </div>

{% endblock %}